<div id="header">
<h1>Portfolio</h1>
<p>Een kort overzicht . . .</p>
</div>
<!-- One -->
<section id="one">
    <div class="inner">
        <h2>Webdesign</h2>
        <p>Na een cursus van Cevora (webontwikkelaar met PHP) (ActionScript 2, Linux, MySQL, PHP, Flash -> nu </p>
    </div>
</section>
<!-- Two -->
<section>
    <div class="content">
          <img src="/assets/images/pic08.jpg" width="500" alt="" class="image"/>
      <div class="inner">
          <h3>Grafische Vormgeving</h3>
          <p>Ik heb een opleiding Grafische Vormgeving genoten in de Karel de Grote Hogeschool, </p>
      <button>meer info</button>
      </div>
  </div> 
  </section>
<!-- Three -->
<section>
  <div class="content">
        <img src="/assets/images/pic09.jpg" alt="tekening van een papegaai" class="image"/>
    <div class="inner">
        <h3>Illustraties en tekenwerk</h3>
        <p>Voornamelijk schoolwerk: portretten, model, landschappen, gebouwen, interieurs en </p>
    <button>meer info</button>
    </div>
</div> 
</section>