<div id="header"> 
<h1>Portfolio</h1>
<p>Een kort overzicht . . .</p>
</div>
<!-- One -->
<section id="one">
    <div class="inner">
        <h3>Webdesign</h3>
        <p>Na een cursus van Cevora (webontwikkelaar met PHP) (ActionScript 2, Linux, MySQL, PHP, Flash -> nu Animate CC, JavaScript, HTML, HTML5, CSS, CSS3) heb ik verschillende jaren bij verschillende bedrijven gewerkt als webdesigner met PHP - klanten waren: LacoWoodoil, Walter Van Beierendonck, Disney video's Belgium, Kertasa, Fleurop . . . </p>
    </div>
</section>
<!-- Two -->
<section id="two">
    <div class="content">
          <img src="/assets/images/pic08.jpg" alt="opmaak pagina luxe-tijdschrift" class="image-left"/>
      <div class="inner-right">
          <h3>Grafische Vormgeving</h3>
          <p>Ik heb een opleiding Grafische Vormgeving genoten in de Karel de Grote Hogeschool, </p>
      <button>meer info</button>
      </div>
  </div> 
  </section>
<!-- Three -->
<section id="three">
  <div class="content">
        <img src="/assets/images/pic09.jpg" alt="tekening van een papegaai" class="image-right"/>
    <div class="inner-left">
        <h3>Illustraties en tekenwerk</h3>
        <p>Voornamelijk schoolwerk: portretten, model, landschappen, gebouwen, interieurs en </p>
    <button>meer info</button>
    </div>
</div> 
</section>
<!-- Four -->
<section id="four">
    <div class="content">
          <img src="/assets/images/pic10.jpg" alt="portret foto" class="image-left"/>
      <div class="inner-right">
          <h3>foto's</h3>
          <p>Fotografie is een hobby van me, het begon op school met zwart-wit fotografie, later kleur, macro, studio. . .</p>
      <button>meer info</button>
      </div>
  </div> 
  </section>
  <!-- Five -->
  <section id="five">
    <div class="content">
       <div class="inner">
          <h3>Meest gebruikte software:</h3>
          <p>Visual Studio Code, Brackets, Illustrator, Photoshop, Indesign ...</p>
      <button>meer info</button>
      </div>
  </div> 
  </section>