 header{
     padding:3% 12% 0 6%;
 }
 header h1{
     margin-bottom:0;
 }
 h2{
     font-weight:bold;
     font-size: 2.6em;
     margin-bottom:0;
 }
 p{ border-top: 3px solid white;
    padding-top:3%;
    font-variant: small-caps;
    letter-spacing: 0.2em;
    font-weight: bold;
    font-size: 1em;
}
button{
    margin-left: 2em;
}
 div.left{
     width: 40%;
     position: relative;
     float:left;
     height: 300px;
     padding:3% 3% 0 3%;
 }
 div.right{
     width: 60%;
     position: relative;
     float: right;
     height: 300px;
     padding:3% 3% 0 3%;
 }
 section{
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
    clear: both;
 }
.one{
    background-image: url("/assets/images/pic01.jpg");
    background-position: center;
    background-size: cover; 
    background-color: white;
    z-index: 55;
}
article.color-one{
    background-color: cyan;
    opacity: 0;
    height: 300px;
    z-index: 999;
    position: absolute;
    left:0;
}
article.color-one:hover{
   opacity:0.8;
}
.two{
    background-color:#ac72ac;
    background-image: url("/assets/images/pic02.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:85%;
    opacity: 0.5;
    background-color: white;
}
.two:hover{
   opacity:1;
}